@model IEnumerable<TravelAgentParameters>


@{
    ViewData["Title"] = "LoginHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="height: 7vw">

</div>

<a asp-controller="TravelAgents" asp-action="ProfessionalInformation">Your Professional Information</a> |

<a asp-controller="TravelAgents" asp-action="VacationRequestQueue">Travel Request Queue</a> 

<h2>TRAVEL AGENT HOME LOGIN</h2>

<div>
    <img src="~/images/TravelAgent.jpg" style="float: right"/>
</div>

