@model TravelBid.Models.VacationerModel

@{
    ViewData["Title"] = "VacationRequestQueue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="height: 7vw">

</div> 

<h2>Vacation Request Queue</h2>

<h3>@ViewBag.result</h3>

