@{
    ViewData["Title"] = "About";
}
<br />
<div class="container" style="width: 841px; border: 3px solid gray">
    <div class="row">
        <div class="col-4-sm">
            <img src="~/images/CostaRicaRainForest.jpg" style="height: 183px; width: 275px" />
            <img src="~/images/Iceland.jpg" />
            <img src="~/images/VirginiaCity.jpg" style="height: 183px; width: 276px"/>
        </div>
    </div>
</div>

<h1 style="text-align: center; color: red; font-family: 'Varela Round', sans-serif">AMERICA'S PREMIER VACATION MATCHMAKER!</h1>
<h3 style="text-align: center">YOU tell us your dream vacation</h3>
<h3 style="text-align: center">Then sit back and watch agents compete to fulfill it for you.</h3>

<p>Yes, it's that easy. YOU tell us where you want to go. YOU tell us what you want to do...</p>

<h1 style="text-align: center; color: red">YOU TELL US WHAT YOU WANT TO PAY!</h1>

<p>That's it. So, what are you waiting for?</p>




