@model IEnumerable<VacationSuggestions>

@{
    ViewData["Title"] = "Index"; //This ViewData is actually used in the _Layout.cshtml under title.
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Home Page";   

}

<h1 style="text-align: center; color: red">STILL NOT SURE WHERE TO GO?</h1>
<h3 style="text-align: center">Here are some top picks chosed by our travel agents...</h3>

@foreach(var suggesteddestination in Model)
{
    <h3>DESTINATION: @suggesteddestination.DestinationName</h3>
    <h3>POPULAR ATTRACTIONS: @suggesteddestination.Attractions</h3>
    <h3>BEST TIME TO GO: @suggesteddestination.BestTimeToGo</h3>
    <hr />
}

<h1>If you're interested in going to these (or any other place), please fill out these forms right now!</h1>
<!--
<form method="post" action="/TravelResults/NewTravelRequest">
    <label for="customer">Enter your name</label><input name="customername" />
    <input type="submit" />
</form>
    -->

<form method="post" action="/TravelResults/NewTravelRequest">
    <label for="fName">First Name</label><input name="CustomerFirstName" id="fName" required/>
    <label for="lName">Last Name</label><input name="CustomerLastName" id="lName" required/><br />
    <label for="email">Email:</label><input name="Email" id="email" /><br />
    <label for="destination">Your Dream Destination:<input name="destination" id="destination" required/></label><br />
    <label for="maxbudget">Most you are willing to pay for your Dream Destination (minimum: $150.00)?<input name="maxbudget" id="maxbudget" min="150"/></label><br />
    <strong>Tell our awesome agents EVERYTHING you want in your dream destination:</strong><br /><textarea name="additionalInfo"></textarea><br />
    <input type="submit" />
</form>



