
@{
    ViewData["Title"] = "NewAgentQuestionairre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>WELCOME! Please Tell Us a little bit about yourself and your experience</h3>

<form method="post" action="/TravelResults/NewAgentAccount">
    <label for="name">Name: </label><input type="text" name="AgentName" id="name" required /><br />
    <label for="experience">Years Experience in the Industry: </label><input type="text" name="AgentExperience" id="experience" /><br />
    <label for="email">Email</label><input type="email" name="AgentEmail" id="email" /><br />
    Are you ASTA certified?
    <label><input type="radio" name="asta" value="Yes" /><span>Yes</span></label>
    <label><input type="radio" name="asta" value="No" /><span>No</span></label><br />
    <label for="specialties">Vacation specialties: </label><input type="text" name="AgentSpecialties" id="speciaties" />
    <label for="visited">Places you have travelled to: <input type="text" name="AgentVisited" id="visited" /></label>

    <input type="submit" />
</form>

