@model IEnumerable<VacationerModel>

@{
    ViewData["Title"] = "VacationerProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Please take a few moments to fill out your profile</h3>

<form method="post" action="/TravelResults/NewTravelRequest">
    <div class="form-group">
        <label for="fName">First Name</label><input type="text" name="CustomerFirstName" id="fName" required />
        <label for="lName">Last Name</label><input type="text" name="CustomerLastName" id="lName" required /><br />
        <label for="email">Email:</label><input type="email" name="Email" id="email" /><br />
        <label for="destination">Your Dream Destination:<input name="destination" id="destination" required /></label><br />
        <label for="maxbudget">Most you are willing to pay for your Dream Destination (minimum: $150.00)?<input type="number" name="maxbudget" id="maxbudget" min="150" /></label><br />
        <strong>Tell our awesome agents EVERYTHING you want in your dream destination:</strong><br /><textarea name="additionalInfo"></textarea><br />
        <input type="submit" />
    </div>
</form>



