
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Current Users: Login to your account.</h3>

<form method="post" action="">
    <div class="form-group">
        <label for="username">Enter Username<input type="text" id="username"/></label>
    </div>
    <input type="submit" class="btn btn-primary" value="Submit Order" />
</form>

<h3>New Users: Create username for new account.</h3>

<form method="post" action="">
    <div class="form-group">
        <label for="username">Enter Username<input type="text" id="username" /></label>
    </div>
    <input type="submit" class="btn btn-primary" value="Submit Order" />
</form>

